<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About the Creator</title>
     <link rel="stylesheet" href="../static/styles.css"> 
    <link rel="stylesheet" href="../static/styles2.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/p-planner_logo.JPG" alt="logo" width="35%">
                <span>P-Planner - About
                </span>
            </div>
            
        <ul>
        <div class="dropdown">
            <a href="/" ><button class="dropbtn">Home</button></a>
        </div>
    
        <div class="dropdown">
            <a href="/" ><button class="dropbtn">➡ Plan ⬅</button></a>
        </div>
    
    
            <div class="dropdown">
                <a href="/signup" ><button class="dropbtn">Sign Up</button></a>
            </div>
            <div class="dropdown">
                <a href="/login" ><button class="dropbtn">Log In</button></a>
            </div>
            <div class="dropdown1">
                <a href="/aboutme" ><button class="dropbtn">About</button></a>
            </div>
            
        </ul>
        
        </nav>
       </header> 
<br>

<br>
    <h1> Meet the Creator</h1>
    <br>
    <br>
    <div> 
    <p> P. Rao(coder, creator, and owner) is the person behind the scenes.</p>
    <p>She is in Middle School, and loves being a young creator.</p>       
        <br>
        <br>
        <img src="./static/MyFace.JPG" alt="MyPic" width=20% class="img">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Other Websites by P. Rao:</p>
        <br>
        <a href="http://prakruthi.herokuapp.com/" target="_blank">Personal Website</a>
        <br>
        <br>
        <a href="https://prakruthirao-09.github.io/Me/" target="_blank">Older Personal Website</a>
    </div>


</body>

</html>