<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P-Planner - </title>
    <link rel="stylesheet" href="../static/styles.css"> 
    <link rel="stylesheet" href="../static/styles2.css">
    <link rel="stylesheet" href="../static/styles3.css">
</head>
<body>
   <header>
    <nav>
        <div class="logo">
            <img src="../static/p-planner_logo.JPG" alt="logo" width="35%">
            <span>P-Planner - Home
            </span>
        </div>
        
    <ul>
    <div class="dropdown">
        <a href="/" ><button class="dropbtn">Home</button></a>
    </div>

    <div class="dropdown">
        <a href="/" ><button class="dropbtn">➡ Plan ⬅</button></a>
    </div>


        <div class="dropdown">
            <a href="/signup" ><button class="dropbtn">Sign Up</button></a>
        </div>
        <div class="dropdown">
            <a href="/login" ><button class="dropbtn">Log In</button></a>
        </div>
        <div class="dropdown1">
            <a href="/aboutme" ><button class="dropbtn">About</button></a>
        </div>
        
    </ul>
    
    </nav>
   </header> 
   <br>
   <h1>Hello and welcome to</h1>
   <div class="wavy-text-animation">
   <!-- <h1> Hello and welcome to P-Planner, where you can keep your life organized.</h1> -->
   <span style="--i:1">P</span>
   <span style="--i:2">-</span>
   <span style="--i:3">P</span>
   <span style="--i:4">l</span>
   <span style="--i:5">a</span>
   <span style="--i:6">n</span>
   <span style="--i:7">n</span>
   <span style="--i:8">e</span>
   <span style="--i:9">r</span>
   
  
   
</div>
<br>
<br>
<form action="/login" method="POST">
    <button class="dropbtn" type="submit" name="submit" id="submit">➡ Start Planning ⬅</button>
 </form>
<br>
   <div class="grid-container">
      
        <div class="grid-item">
            <img src="../static/calender.png" alt="logo" >
        </div>
        <br>
        <br>
        <br>
        <div class="grid-item">
            <h3>You can create Tables, <br>Schedules, and Calendars <br> by the click of a mouse.</h3>
            <br>
            <br>
            <br>
            <h3>Personalize things like <br> your name and Birthdays.</h3>
        </div>
        
      
   </div>
   <!-- <form action="/login" method="POST">
   <button class="dropbtn" type="submit" name="submit" id="submit">➡ Start Planning ⬅</button>
</form> -->
   <br>
   <br>
  
   
</body>
</html>