<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css"> 
    <link rel="stylesheet" href="../static/styles2.css">
    <!-- Create Login and Registration page -->
</head>
<body>
   <header>
    <nav>
        <div class="logo">
            <img src="../static/p-planner_logo.JPG" alt="logo" width="35%">
            <span>P-Planner
            </span>
        </div>
        
    <ul>
    <div class="dropdown">
        <a href="/" ><button class="dropbtn">Home</button></a>
    </div>
    
        <div class="dropdown">
           <button class="dropbtn">Plan</button>
           <div class="dropdowncontent">
            <a href="/art" >Table</a> 
            <a href="/craft" >Schedule</a> 
            <a href="/recipes" >Calendar</a> 
           </div>
        </div>
        <div class="dropdown">
            <a href="/quiz" ><button class="dropbtn">Sign Up</button></a>
        </div>
        <div class="dropdown">
            <a href="/Register" ><button class="dropbtn">Log In</button></a>
        </div>
        <div class="dropdown">
            <a href="/Login" ><button class="dropbtn">Contact</button></a>
        </div>
        
    </ul>
    
    </nav>
   </header> 
   <br>
   <h1>Welcome,{{ username }}! </h1>
   <br>
   <h1> You are logged in succesfully!</h1>
   <form action="/create_task" method="GET">
    <br>
    <br>
    <button class="dropbtn" type="submit" name="submit" id="submit"> Start Planning </button>

   </form>
<br>
<br>
  
   
</body>
</html>